.card {
    margin: 10px;
    border-radius: 20px !important;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2) !important;
    min-height: 240px;
    padding-top: 15px;
}

.icon {
    width: 90px;
    height: 100px;
}

.card .zone {
    color: blue;
    font-weight: 700;
    font-size: 20px;
}

.card .centertype {
    font-weight: 700;
    font-size: 16px;
}

.card .promo {
    color: red;
    font-weight: 700;
    font-size: 20px;
}