.center-name {
    margin-bottom: 20px;
    color: blue;
    font-weight: 700;
}

.comunicate {
    margin-bottom: 20px;
    margin-top: 20px;
}

.services {
    margin-bottom: 10px;
    margin-top: 20px;
}